#version: "3.9"
services:
  postgres:
    image: postgres:17.6-trixie
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports: ["5432:5432"] #this is just for practice i will remove it after i test it
  fastapi:
    volumes: 
      - ./:/app
    build: .
    ports: ["8000:8000"]
    env_file: .env
    command: uvicorn fastapi_version.main:app --host 0.0.0.0 --port 8000 --reload
